// ==========================================================================
// FRANJAS
// ==========================================================================

.franja {
  @extend %franja-base;
}

.franja--primaria {
  background-color: $color-primario;
  color: $color-fondo;

  h2 {
    color: $color-fondo;
  }
}

.franja--secundaria {
  background-color: $color-acento;
  color: $color-fondo;

  h2 {
    color: $color-fondo;
  }
}

.icono-franja {
  width: 50px;
  margin: 0 auto 16px;
}
