// ==========================================================================
// HERO + BIENVENIDA
// ==========================================================================

.hero {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;

  @include respond("lg") {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  figure {
    margin: 10px auto 0;
    max-width: 850px;
  }

  figcaption {
    text-align: center;
    font-size: 0.9rem;
    color: $color-texto-tenue;
    margin-top: 10px;
  }
}

.hero__botones {
  @include flex(row, center, center, 16px);
  flex-wrap: wrap;
  margin-top: 26px;
}

.bienvenida {
  background-color: $color-blanco;
  padding: 16px 0;
  text-align: center;

  @include respond("lg") {
    padding: 40px 0;
  }
}
